<a
    href="#"
    target="_blank"
    style="
        border: solid 1px #0d9dda;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        padding: 10px 33px;
        text-decoration: none;
        text-transform: capitalize;
        background-color: #0d9dda;
        border-color: #0d9dda;
        color: #ffffff;
    "
>
    {{label}}
</a>