<div class="header" style="padding: 10px 0;">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;">
    <tr>
      <td class="align-center" width="100%" style="font-family: sans-serif; font-size: 14px; vertical-align: top; text-align: center;" valign="top" align="center">
        <a href="https://" style="color: #0d9dda; text-decoration: underline;">
          <img src="https://ii.ct-stc.com/1/logos/empresas/2017/11/29/sicte-sas-9F0055DDCFEE7201090704thumbnail.png" height="80" width="150" alt="Salesforce Marketing Cloud" style="border: none; -ms-interpolation-mode: bicubic; max-width: 100%;" />
        </a>
      </td>
    </tr>
  </table>
</div>
